{
  "env": {
    "node": true,
    "browser": true,
    "amd": true,
    "es6": true
  },
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-use-before-define": [
      2,
      {
        "functions": false,
        "classes": false,
        "variables": false
      }
    ],
    "new-cap": 0,
    "no-caller": 2,
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-console": "off",
    "prefer-const": [
      "warn",
      {
        "destructuring": "all"
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "spaced-comment": "warn"
  }
}
