name: Build
on:
  push:
    branches-ignore:
      - dist
    paths:
      - src/**
      - .github/workflows/build.yml

jobs:
  build:
    name: Build compiled JS version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: npm install

      - name: Compile TypeScript into compressed JavaScript
        run: npm run build

      - name: Commit changes
        uses: EndBug/add-and-commit@v4.0.0
        with:
          message: "[auto] build: update compiled version"
          add: lib
          force: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
