name: Sync labels
on:
  push:
    branches:
      - main
    paths:
      - '.github/labels.yml'
  workflow_dispatch:

jobs:
  sync:
    name: Run EndBug/label-sync
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: EndBug/label-sync@v2
        with:
          config-file: '.github/labels.yml'
